:root {
  --background-nav: #2e323f;
  --background-primary: #3b4050;
  --background-accent: #a59678;

  --font-color-light: #ffffff;
  --font-color-dark: #6f737f;

  --font-header: 'Oswald', sans-serif;
  --font-regular: 'Montserrat', sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-regular);
  color: var(--font-color-dark);
}

img {
  max-width: 100%;
  margin: 1.5em 0;
}

h1,
h2,
h3 {
  margin-top: 0;
  font-family: var(--font-header);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

main,
section,
footer {
  margin: 0;
  padding: 5em 0;
}

.title {
  color: var(--background-accent);
}

.container {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
}

.nav {
  background-color: var(--background-nav);
  padding: 1em 0;
}

.nav__link {
  display: none;
  margin: 1.2em auto 0 auto;
  width: fit-content;
  text-align: center;
}

.nav__link--visible {
  display: block;
}

.nav-toggle {
  margin: 0;
  width: 2.2rem;
  height: auto;
  position: absolute;
  right: 7.5%;
  top: 2em;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background: white;
}

.hamburger::before,
.hamburger::after {
  content: '';
  width: 100%;
}

.hamburger::before {
  transform: translateY(-9px);
}

.hamburger::after {
  transform: translateY(6px);
}

.crl-logo {
  margin: 0;
}

.nav-lists {
  font-family: var(--font-header);
  font-size: 1.125rem;
}

.nav-list:hover,
.nav-list:focus {
  opacity: 0.75;
}

.nav-list {
  margin: 0.5em 0;
}

.nav-lists a {
  color: var(--font-color-light);
}

.nav-lists--primary {
  margin-bottom: 1.5em;
}

.nav__button {
  background-color: var(--background-accent);
  padding: 0.2em 1.2em;
  border-radius: 100px;
}

.cta {
  background-color: var(--background-primary);
  color: var(--font-color-light);
}

.cta__title {
  font-size: 5.635rem;
  line-height: 1.1;
}

.cta__title--brown {
  color: var(--background-accent);
}

.cta__subtitle {
  font-size: 1.5rem;
  padding: 1.5em 0;
}

.cta__button {
  background-color: var(--background-accent);
  padding: 0.5em 0;
  border-radius: 100px;
  max-width: 50%;
  text-align: center;
}

.cta__button a {
  font-family: var(--font-header);
  color: var(--font-color-light);
  text-transform: uppercase;
  font-size: 1.5rem;
}

.features {
  background-color: #f1f1f1;
}

.card {
  padding: 1em 0;
  text-align: center;
  font-size: 1.125rem;
}

.feature__card--title {
  margin-bottom: 0.5em;
  font-size: 1.875rem;
}

.process__card-container {
  padding-top: 1em;
}

.process__title {
  font-size: 2.25rem;
  margin-bottom: 0.5em;
}

.process__text {
  font-size: 1.3125rem;
  margin: 0.5em 0;
}

.process__card {
  background-color: var(--background-primary);
  color: var(--font-color-light);
  margin: 1.5em 0;
  padding: 2em 2em;
}

.process__card--title {
  font-size: 1.875rem;
  padding-bottom: 0.8em;
}

.process__card--text {
  font-size: 1.125rem;
}

.footer {
  background-color: var(--background-primary);
  text-align: center;
}

.footer__title {
  color: var(--font-color-light);
  font-size: 1.5rem;
  text-align: center;
}

.footer__links {
  display: flex;
  justify-content: space-between;
}

.footer__card--title {
  margin: 2em 0 1em 0;
}

.footer__card--list a {
  color: var(--font-color-dark);
}

footer li + li {
  margin-top: 2em;
}

@media (min-width: 700px) {
  .process__image {
    max-height: 400px;
    overflow: hidden;
  }

  .process__image img {
    transform: scale(1.2);
  }

  .process__card-container {
    display: flex;
    gap: 1em;
  }
}

@media (min-width: 1000px) {
  .row {
    display: flex;
    gap: 3em;
    align-items: flex-start;
    justify-content: space-between;
  }

  .nav-toggle {
    display: none;
  }

  .nav__link {
    display: flex;
    gap: 2.5em;
    margin: 0;
  }

  .nav-lists {
    display: flex;
    gap: 1.5em;
    margin: 0;
  }

  .cta__content {
    align-self: flex-end;
  }

  .process .col {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
  }

  .process__card-container {
    flex-direction: column;
    align-self: flex-start;
    justify-self: flex-start;
    gap: 0;
    padding: 0;
  }

  .about {
    width: 40%;
  }

  .footer__links {
    width: 50%;
  }
}
